/dist/
/build/
.project.yaml
/qgate_sln_mlrun.egg-info/
**/__pycache__/
**/__pycache__/
/venv/
*.pyc
.aws-secrets
.idea/
.pytest_cache/
.vscode/
.bin
*venv*
/qgate_sln_mlrun/__pycache__/*.pyc
/output/
/.coverage
/tests/__pycache__/*.pyc
/tests_output/
/tests_output/*
project.yaml
To-Do internal.txt
