mlrun==1.6.4
python-dotenv~=0.17.0
jinja2~=3.1

# ML model, update from 1.4.0
scikit-learn==1.5.0

# RedisNoSqlTarget
redis~=5.0

# SQLSource/SQLTarget
sqlalchemy~=1.4
cryptography~=42.0

# for MySQL
pymysql~=1.1

# for Postgres
psycopg2~=2.9

# Coverage
coverage>=7
coverage-badge>=1

