mlrun==1.9.1
python-dotenv~=0.17.0
jinja2~=3.1

# test newer version from pandas==1.4.4
# old pyarrow==11.0.0
#pandas==2.1.4

scikit-learn==1.5.0

# RedisNoSqlTarget
redis~=5.0

# SQLSource/SQLTarget
sqlalchemy==2.0.41
cryptography~=44.0.0

# for MySQL
pymysql~=1.1
#mysql-connector-python~=8.3.0

# for Postgres
# NOTE: version conflict in Linux
psycopg2~=2.9

# for kafka
kafka-python~=2.0
avro~=1.11